/* Styles for the product item wrapper */
.product-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  width: 250px;
  flex-grow: 0;
  flex-shrink: 1;
  margin-right: 20px;
}

/* Container for the product items (wraps the 3 items) */
.product-items-container {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  gap: 20px; /* Space between product items */
  flex-wrap: wrap; /* Wrap the items if there is not enough space */
  margin-right: 20px; /* Ensure it aligns to the right of the page */
  padding: 20px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-item {
    width: 300px;
  }
}

@media screen and (min-width: 992px) {
  .product-items-container {
    gap: 20px;
  }
}

/* Styles for the individual product card */
.product-card {
  background-color: white;
  border: 2px solid #ccc; /* Border for the card */
  border-radius: 8px; /* Rounded corners */
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
  transition: all 0.3s ease; /* Smooth transition */
}

.product-card:hover {
  transform: scale(1.05); /* Hover effect to scale up */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 6px; /* Rounded image */
}

.product-info {
  margin-top: 10px;
}

.product-title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 8px;
}

.product-category,
.product-description {
  font-size: 14px;
  color: #555;
}

.product-price {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2px;
}

/* Rating Styles */
.rating-container {
  display: flex;
  align-items: center;
  background-color: #3b82f6;
  border-radius: 6px;
  padding: 6px 16px;
}

.rating {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-right: 4px;
}

.star {
  height: 20px;
  width: 20px;
}
